.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItems {
    padding: 10px;
    font-size: 20px;

}

.dialogsItems .dialog {

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    font-size: 20px;
}