.app-wrapper{
display: grid;
  width: 100%;
  margin:  0 auto;

  grid-template-areas:
"header header"
  "nav content"
;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header{
grid-area: header;
  background-color: aquamarine;
}

.header img{
  width: 60px;
  height: 60px;
}

.nav{
grid-area: nav;
  background-color: antiquewhite;
}

.content{
grid-area: content;
  background-color: aqua;
}

.content img{
  width: 100%;
  height: 300px;
}